/**
 * Bem React style
 * BlockName-ElemName_modName_modVal
 */
#Webgl
{
    background: #ffffff;
    filter: blur(40px);
    opacity: 1;
    outline: none;
}

.CanvasFrame {
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
}
